<?php $this->layout = ''; ?>
<!DOCTYPE HTML>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>404: Not Found</title>
</head>
<body>
    <div style="text-center">
        <p>
            404: Not Found<br />
            お探しのページが見つかりません。
        </p>
    </div>
</body>
</html>
